
:root{
    --slider-navigation-opacity: 0.7;
    --default-color: #E3E7ED;
}

.slider {
	position: relative;
	text-align: center;
	overflow: hidden;
}
.slider button {
    background: none;
    border: none;
    -webkit-appearance: none;
}
	
.slider button:focus {
    outline: none;
}
.slider button:hover {
    cursor: pointer;
}
	
.slider .slider-gallery {
    background: black;
    position: relative;
    white-space: nowrap;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0 auto 0 auto;
    width: 75vw;
    height: 523px;
}
.slider .slide {
    position: relative;
    white-space: normal;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.slider .slide img {
    position: relative;
    left: 0;
    top: 0;

    display: inline-block;
    
    z-index: 1;
    
    height: 100%;
    width: 100%;
    
    object-fit: cover;
}
	
.slider .slide-active {
    z-index: 5;
    visibility: visible;
    opacity: 1;
}
	
.slider .slider-navigation {
    position: absolute;
    bottom: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background: var(--default-color);
    opacity: var(--slider-navigation-opacity);
    transition: all 0.2s ease-in-out;
    z-index: 8;
}

.testimonials .slider-navigation {
    top: 55px;
}

.client_slides .slider-navigation {
    top: 100px;
}
	
.slider .slider-navigation:hover {
    opacity: 0.5;
}
	
.slider .slider-navigation:active {
    opacity: 1;
}
	
.slider .slider-navigation_left {
    left: 15%;
    bottom: 5%;
}
	
.slider .slider-navigation_right {
    right: 15%;
    bottom: 5%;
}
	
.slider .slider-bullets {
    padding: 0 6rem;
    margin: 0;
    position: absolute;
    z-index: 5;
    left: 25%;
    right: 25%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}
	
.slider .bullet-hide, .bullet-hide * {
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
    visibility: none !important;
    margin: 0 !important;
    padding: 0 !important;
    transform: translateY(80px) !important;
}
	
.slider .bullet {
		flex-shrink: 0;
		box-sizing: border-box;
		display: inline-block;
		font-size: 0;
		margin: 0;
		opacity: 0.4;
		position: relative;
		list-style: none;
		transition: transform 0.35s cubic-bezier(0.785, 0.135, 0.15, 0.86),
            opacity 0.75s cubic-bezier(0.785, 0.135, 0.15, 0.86),
            all 0.75s cubic-bezier(0.785, 0.135, 0.15, 0.86);
		width: 5rem;
		max-width: 10rem;
}
.slider .bullet:first-child {
    margin-left: 0;
}
.slider .bullet:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.2);
}
.slider .bullet img {
    width: 100%;
}
	
.slider .bullet-active {
    opacity: 1;
    transform: scale(1.2);
    position: relative;
    z-index: 10;
}

@media only screen and (max-width: 768px) {
    .slider .slider-gallery {
        width: 100vw;
        margin: 0;
    }

    .slider .slider-navigation_left {
        left: 10%;
    }

    .slider .slider-navigation_right {
        right: 10%;
    }

    .slider .slider-bullets {
        left: 5%;
        right: 5%;
    }
}

@media only screen and (max-width: 576px) {
    .slider .slider-navigation_left {
        left: 4%;
    }
    
    .slider .slider-navigation_right {
        right: 4%;
	}
}