@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

@keyframes smooth {}

ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.products_carousel {
    position: relative;
    padding-top: 30%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}

.carousel__viewport::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    padding: 1rem;
    counter-increment: item;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-clip: padding-box;
    border-top: var(--menuStartHeight) solid transparent;
    margin-top: calc(var(--menuStartHeight) * -1);
}

.carousel__heading {
    color: #fff;
    font-size: 2em;
    width: 25%;
    text-align: center;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    .carousel__slide:last-child .carousel__snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.products_carousel:hover .carousel__snapper,
.products_carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: relative;
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, .5);
}

.carousel__navigation-item {
    display: inline-block;
    min-width: 2rem;
    max-width: 25vh;
}

.carousel__navigation-list {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}

.carousel__navigation-button {
    transition: transform 0.1s;
}

.carousel__navigation-item:hover {
    transform: scaleX(1.15) scaleY(1.15);
    transition-timing-function: ease-out;
    transition: 0.25s;
}

.products_carousel::before,
.products_carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    top: 20%;
    margin-top: 20%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}

.products_carousel::before,
.carousel__prev {
    margin-left: 2rem;
}

.products_carousel::after,
.carousel__next {
    right: -1rem;
    margin-right: 2rem;
}

.products_carousel::before,
.products_carousel::after {
    content: '';
    z-index: 1;
    width: 2rem;
    height: 2rem;
    background: var(--default-color);
    opacity: var(--slider-navigation-opacity);
    background-repeat: no-repeat;
    background-position: center center;
    text-align: center;
    pointer-events: none;
}

.products_carousel::before {
    background-image: url(../img/icons/left-arrow.svg);
}

.products_carousel::after {
    background-image: url(../img/icons/right-arrow.svg);
}

@media only screen and (max-width: 768px) {
    .products_carousel {
        padding-top: 60%;
    }
    .carousel__navigation-item {
        max-width: 15vh;
    }
    .invisible_heading {
        margin-top: -150px;
    }
    .carousel__heading {
        width: 75%;
        font-size: 1.5rem;
    }
}