:root {
    --menuStartHeight: 70px;
    --zealBlue: #3498db;
}
header.main {
    background: rgba(255, 255, 255, 0.82);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    height: var(--menuStartHeight);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9998;
}
header.main nav > h1 a {
    background: url("/img/core-img/logo-v2.png") no-repeat;
    background-position:  1.5em 7px;
    display: block;
    height: 100%;
    width: 200px;
    text-indent: -1000px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    /* IE10+ specific styles go here */  
    header.main nav > h1 a {
        text-indent: 0px;
        color: transparent;
    }
 }

header.main h1 span {
    display: block;
    font-size: .5em;
}

header.main nav {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
header.main nav ul {
    display: flex;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header.main nav > label {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
header.main nav ul li{
    padding: 0 1em;
}
header.main nav ul li a{
    display: block;
    font-weight: 600;
    height: 100%;
    line-height: 4em;
}
header.main nav > h1 {
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 999;
}
header.main nav > input,
header.main nav > label {
    display: none;
}
@media only screen and (max-width: 768px) {
    header.main nav {
        display: block;
        flex-wrap: wrap;
    }
    header.main nav > h1 {
        background: white;
        width: 100%;
    }
    header.main nav > h1 a{
        margin-left: 0;
    }

    header.main nav ul {
        display: block;
        list-style-type: none;
        position: absolute;
        top: -310px;
        transition: top 0.3s ease 0s;
        width: 100%;
        z-index: -1;
    }

    header.main nav ul li {
        background-color: var(--zealBlue);
        border-bottom: 1px solid white;
        display: block;
        padding: 0;
    }
    header.main nav ul li a {
        color: white;
        display: block;
        height: 100%;
        line-height: 2em;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    header.main nav > input:checked ~ ul {
        top: var(--menuStartHeight);
        z-index: -1;
    }
        
    header.main nav > label {
        background: linear-gradient(to bottom, black 0%, black 20%, transparent 20%, transparent 40%, black 40%, black 60%, transparent 60%, transparent 80%, black 80%, black 100%);
        cursor: pointer;
        display: block;
        height: 35px;
        position: fixed;
        right: 1em;
        top: 1em;
        width: 35px;
        z-index: 1000;
    }
}

header.main nav .current_page_item,
header.main nav .current_page_item:focus {
    background: #e3e7ed;
    padding: 0 25px 0 25px;
}
