main .stats {
    background-attachment: fixed;
    background-image: url("/img/bg-img/800w/ocean.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 15vh 0 15vh 0;
    position: relative;
}
main .stats h3{
    font-size: 16px;
}
main .stats article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main .stats article > section {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center -40px;
    background-size: 75px 85px;
    border-right: solid 1px white;
    border-top: solid 65px transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 70px 10px;
    text-align: center;
    width: 24%;
}
main .stats article > section:last-child {
    border-right: none;
}
main .stats article > section h2 {
    color: #fff;
    font-family: "Archivo-Regular", "Archivo";
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    line-height: 0.9em;
}
main .stats article > section p {
    color: #fff;
    margin: 0;
    font-size: 18px;
}

main .stats article .software-development {
    background-image: url("/img/icons/hat-white.svg");
}
main .stats article .user-experience {
    background-image: url("/img/icons/ship-side-white.svg");
}
main .stats article .agile-transformation {
    background-image: url("/img/icons/vest-white.svg");
}
main .stats article .repeat-business {
    background-image: url("/img/icons/porthole-white.svg");
}
@media only screen and (max-width: 768px) {
    main .stats article section {
        width: 100%;
    }
}