<li id="carousel__slide{{.productIndex}}" tabindex="0" class="carousel__slide" style="background-image: url(img/product-img/1000w/{{.page.photo}}.jpg);">
    <!-- <li  tabindex="0" class="carousel__slide" style="background-image: url(img/product-img/1000w/{{.page.photo}}.jpg);"> -->
    <!-- <h3 id="carousel__slide{{.productIndex}}" class="invisible_heading"> -->
    </h3>
    <h4 class="carousel__heading">
        {{.page.heading}}
    </h4>
    <img src="img/logo/light/product/{{.page.photo}}.png" alt="{{.alt}}">


    <div class="carousel__snapper">
        {{if (eq .productIndex 0 )}}
            <a href="#carousel__slide{{sub .productLength 1 }}" class="carousel__prev">Go to last slide</a>
        {{else}}
            <a href="#carousel__slide{{sub .productIndex 1 }}" class="carousel__prev">Go to last slide</a>
        {{end}}

        {{if (eq .productIndex (sub .productLength 1) )}}
            <a href="#carousel__slide0" class="carousel__next">Go to next slide</a>
        {{else}}
            <a href="#carousel__slide{{ add 1 .productIndex}}" class="carousel__next">Go to next slide</a>
        {{end}}
    </div>
</li>