<li class="slide">
    <article class="slider-content">
        <h3 class="slider-content-text">{{.heading}}</h3>
        <button onclick="location.href='{{.href}}'" class="slider-content-button">learn more</button>

        <div class="slider-gradient"></div>
        <img src="img/product-img/1000w/{{.photo}}.jpg" alt="{{.photo}}">
    </article>
</li>